*{
    box-sizing: border-box; background-repeat: no-repeat; font-family:'Poppins', sans-serif;
  }
  html{
    width:100%;
  }
  body{
    background-color:black;  position:relative; overflow-x:hidden;
  }
  header{
    height:650px; width:100%; position:relative; overflow:hidden;
    background:linear-gradient(90deg, #ffbf93ff 33.3%, #ffce93ff 33.3%, #ffce93ff 66.6%, #6f8587ff 66.6%);
  }
  .part1,.part2{
    position:absolute; height:97%; width:80%; left:0; display:none;
  }
  .part1{
    margin-left:20%; bottom:0; background:#e2cedbff; 
  }
  .part2{
   top:0;  background:#ffd7dfff; z-index:1
  }

  .top1,.top2,.top3{
    position:absolute; color:white; font-weight:bold; width:33.3%; font-size:90px;
  }
  .top1{
    left:0; margin-top:30px; top:0; z-index:5;
  }
  .top2{
    right:0; margin-right:33.3%;  height:300px; top:0;
    background-position:center; background-size:100% 100%; background-repeat: no-repeat;
    background-image:url(media/top2.svg)
  }
  .top2text{
    width:100%; position:absolute; top:0;
  }
  .top3{
    left:0; margin-left:66.6%; z-index:3;
  }
  .top3>div{
    display:inline-flex; margin:10px -10px 0px 0px
  }
  .top3>div:nth-of-type(2){
    background-color:grey;
  }
  .top3>div:nth-of-type(5){
    background-color:yellow;
  }
  .top3>div:nth-of-type(1){
    transform:rotate(5deg);
  }
  .top3>div:nth-of-type(3),.top3>div:nth-of-type(4){
    transform:rotate(-5deg)
  }
  /*#6f8587ff #1b2625ff*/
  .ipad{
    position:absolute;
    width:400px; height: 250px;
    bottom:0; z-index: 1; left:0; margin:0px 0px 30px 7%; 
  }
  .ipad1,.ipad2{
    width:100%; height:100%; position:absolute; top:0; left:0; border-radius:20px;
  }
  .ipad1{
    background:black; border:2px solid #fff1e1ff; z-index:1; padding:10px
  }
  .ipad1>div{
    width:100%; height:100%; background-position:-68px -70px; border-radius:10px
  }
  .ipad2{
    background:black; border:2px solid #e1e1ffff; transform:rotate(-5deg);
  }            
  .padshadow{
    width:90%; height:10px; position:absolute; bottom:0; left:0; background:black; margin-bottom:-25px;
    filter:blur(1.5px); border-radius:50%; margin-left:4%;
  }
  .phoneshadow{
    width:20px; height:5px; position:absolute; bottom:0; right:0; background:black; margin-bottom:10px;
    filter:blur(1.5px); border-radius:50%; margin-right:19px; transform:rotate(-20deg)
  }
  .iphone{
    position:absolute; right:0; top:0;  width:50px; height:430px;
    margin-right:50px; background: url(media2/iphone2-removebg-preview.png) center/cover no-repeat;
    transform:rotate(20deg); margin-top:30px; display:none
  }


  /* article */
  .read{
    position:relative; background-color:black; height:100%;
  }
  .readsection{
    overflow:hidden; height:643px;
  }
  article{
    height:100%; position:relative;
    padding:20px 1px 10px 10px; 
    background-image:linear-gradient(90deg,#fff4fcff 70%, #ffffff 30%);
    left:0; top:0;
  }
  .writeup{
    height:100%;
    width:98%;  background-color:white; position:relative;
    box-shadow:1px 3px 8px 0px rgb(189,196,202), -1px -3px 8px 0px rgb(189,196,202);
    padding:10px 10px 10px 15px; overflow:hidden;
    background-image:linear-gradient(90deg,#ffffff 60%, #faf3ffff 20%);
  }
  .writeup>p:nth-of-type(1){
    padding:30px 10px 10px 15px; font-size:18px; color:#420940ff;
  }
  .writeup b{
    background:url(media/bold.svg) center/100% 100% no-repeat; 
  }
  .note{
    width:100%; height:100%; position:relative; color:#420940ff;
    padding:0px 10px 10px 15px;
  }
  .note>p{
    font-size:13px;
  }
  .note>p:nth-of-type(2){
    width:100%; height:30px; margin-bottom:0px;
  }
  .note>div{
    position:relative; font-size:14px; margin-bottom:50px; border:1px solid rgba(256,256,256,0.5);
  }
  .note>div>h4{
    font-size:18px; padding-left:10px; color:#420940ff
  }
  .note>div>div{
      width:80%; padding-left:5px
  }
  .scroll{
    position:absolute; top:0; right:0;
    width:90px; height:140px; margin-right:30px; 
  }
  .scroll>div{
    width:70px; height:70px; border-radius:50%; transition:background 1s;
  }
  .scroll>div:nth-of-type(1){
    background:#cf001bff url(media/scroll2.svg) center/100% 100% no-repeat;
    /*#b07dcfff #8e60aaff*/
  }
  .scroll>div:nth-of-type(1):hover{
    background:#880919ff url(media/scroll2.svg) center/100% 100% no-repeat;
  }
  .scroll>div:nth-of-type(2){
    background:#cf001bff url(media/scroll1.svg) center/100% 100% no-repeat;
    margin-left:20px;
  }
  .scroll>div:nth-of-type(2):hover{
    background:#880919ff url(media/scroll1.svg) center/100% 100% no-repeat;
    margin-left:20px;
  }
  .scroll>div:nth-of-type(3){
    position:absolute; left:0; border-radius:0px; font-size:15px; font-weight:bold;
    width:120px; height:30px; top:0; margin-left:-100%; background:url(media/scrollnote.svg) 0px 0px/contain no-repeat ; 
    color:white; text-align:center; padding-top:4px; margin-top:65px;
  }

  /*
  .note>div:nth-of-type(1){
    background:url(media/messageicon2.svg) 90% 50%/300px 100px no-repeat; 
  }
  .note>div:nth-of-type(2){
    background:url(media/scan.svg) 72.5% 60%/100px 100px no-repeat; 
  }
  .note>div:nth-of-type(3){
    background:url(media/taperule.svg) 100% 10%/700px 300px no-repeat;  
  }
  .note>div:nth-of-type(4){
    background:url(media/art2.svg) 90% 10%/300px 300px no-repeat;  
  }
  .note>div:nth-of-type(5){
    background:url(media/location.svg) 80% 10%/200px 100px no-repeat;  
  }
  .note>div:nth-of-type(6){
    background:url(media/assistouch.svg) 100% 80%/200px 130px no-repeat;  
  }
  .note>div:nth-of-type(7){
    background:url(media/compass.svg) 75% 10%/200px 130px no-repeat;  
  }
  .note>div:nth-of-type(8){
    background:url(media/siriline.svg) 90% 10%/300px 130px no-repeat;  
  }
  .note>div:nth-of-type(9){
    background:url(media/search.svg) 90% 10%/300px 130px no-repeat;  
  }
  .note>div:nth-of-type(10){
    background:url(media/pal.svg) 90% 50%/300px 130px no-repeat;  
  }
  .note>div:nth-of-type(11){
    background:url(media/tracker.svg) 80% 50%/300px 130px no-repeat;  
  }
  .note>div:nth-of-type(12){
    background:url(media/shake.svg) 100% 50%/300px 130px no-repeat;  
  }
  */
  .phone,.social{
    position:absolute; right:0; top:0; overflow:hidden; height:100%
  }
  .phone{
    background:linear-gradient(90deg, black 20%, #cf001bff 20%, #cf001bff 80%, black 80%);
    width:350px; margin-right:350px;
  }
          /* min-width:270, min-height:533*/
  .phone>div{
    position:absolute; width:100%
  }
  .host{
    height:70%; padding-top:5px; top:0; z-index:1; margin-top:20px;
  }
  .charge{
    height:30%; bottom:0; margin-bottom:-20px;
  }
  .host>div{
    width:264px; height:441px; margin:auto; 
    background:url(media/iphone3.svg) center/100% 100% no-repeat;
    border-radius:25px; padding-top:1.5%;
  }
  .host>div>div{
    width:96%; height:98.6%; margin:auto; border-radius:20px; padding-top:2%; position:relative;
  }
  .host>div>div>div{
    width:34%; margin:auto; height:4%; border-radius:20px; background-color:#c1e2f1ff; 
  }        
  #lil{
    position:absolute; left:0; width:39px; height:30px; top:0; 
    background-image:url(media/button.svg); background-size:contain; background-color:black;
  }
  .charge>div{
    height:192px; margin:auto; width:100px; background:url(media/charge.svg) center/100% 100% no-repeat;
  }
  
  .social{
   background-color:#1b261bff; z-index:1; border-radius:15px; width:300px;
  }
  .social>div{
    position:absolute;
  }
  .social>div:nth-of-type(6){
    width:100%; height:65%; bottom:0; background:url(media/socialunderlay1.svg) 0px 0px/100% 100% no-repeat ;
  }
  .social>div:nth-of-type(7){
    width:80px; height:80px; left:0; top:0; background-color:#ffaa77ff; border-radius:50%;
    margin-left:60%; margin-top:15%;
  }
  .handle1,.handle2,.handle3,.handle4,.handle5{
    width:50%; height:18%; top:0; color:white; font-weight:bold; 
    z-index:1; text-align:center; padding-top:15%;
  }
  .handle1{
    background:url(media/insta.svg) 0px 0px/100% 100% no-repeat ; left:0; margin-left:15%
  }
  .handle2{
    background:url(media/twit.svg) 0px 0px/100% 100% no-repeat ; right:0; margin-right:30%
  }
  .handle3{
    background:url(media/face.svg) 0px 0px/100% 100% no-repeat ; left:0; margin-left:15%
  }
  .handle4{
    background:url(media/link.svg) 0px 0px/100% 100% no-repeat; right:0; margin-right:15%
  }
  .handle5{
    background:url(media/disc.svg) 0px 0px/100% 100% no-repeat ;
  }

  .picks{
    width:650px; position:absolute; top:0; right:0; background-color:white; display:none;
    height:100%;
  }
    
        /*feed section*/
  .linebase{ 
    width:100%; height:750px; background: #293337ff;
    position:relative; display:none;
  }
  .linebase>div{
    position:absolute;
  }
  .linebase>div:nth-of-type(1){
    top:0; left:0; height:80%; width:300px; background:#ff6f51ff; margin-left:20px; 
    border-radius:30px; z-index:5;
  }
  .linebase>div:nth-of-type(2){
    right:0; bottom:0; height:80%; width:300px; background:#ffe869ff; 
    border-radius:30px;
    transform:rotate(-5deg); margin-bottom:10px;  z-index:4;
  }
  .linebase>div:nth-of-type(3){
    right:0; top:0; height:100%; width:300px; background:#00f190ff; margin-right:40px; 
    border-radius:30px; z-index:3;
    transform:rotate(-5deg); margin-top:-50px;
    /*00f190ff 7ffd87ff*/
  }
  .linebase>div>div{
    position:absolute; height:30%; width:90%; left:0; top:0;          
    background-position:center; background-size:cover;
    background-repeat:no-repeat; border-radius:inherit;
    box-shadow:-5px 0px 6px 0px #00051eff;
  }
  .linebase>div>div:nth-of-type(1){
    z-index:2
  }
  .linebase>div>div:nth-of-type(2){
    z-index:1
  }
  .linebase>div>div div{
    position:absolute; bottom:0;
  }
  .linebase>div:nth-of-type(3)>div>div{
    background:black; width:110%; height:40%; margin-bottom:-10%; display:none
  }
  .linebase>div:nth-of-type(2)>div>div{
    background:#2b444eff; width:110%; height:40%; margin-bottom:-10%;
  }
  .linebase>div:nth-of-type(1)>div>div{
    background:#ffe869ff; width:120%; height:45%; margin-bottom:-10%; margin-left:-10%;
    /*
    border-top-left-radius:20px; border-top-right-radius:20px; border-bottom-left-radius:20px;
    */
  }
  .feed1>div>div>div:nth-of-type(1),.feed2>div>div>div:nth-of-type(1){
    width:95%; height:80%; top:0; left:0; margin-top:3%; margin-left:3%;
    overflow:hidden; font-size:15px;
  }
  .feed1>div>div>div:nth-of-type(1){
    color:#252525ff;
  }
  .feed2>div>div>div:nth-of-type(1){
    color:white;
  }
  .feed1>div>div>div:nth-of-type(2){
    background:black url(media/outlink2.svg) center/contain no-repeat; width:50px; height:50px; 
    right:0; border-radius:50%; margin-right:-25px; cursor:pointer; z-index:1
  }
  .feed2>div>div>div:nth-of-type(2){
    background:#ebffccff url(media/outlink1.svg) center/contain no-repeat; width:50px; height:50px; right:0; 
    border-radius:50%; margin-right:10%; margin-bottom:-20px; cursor:pointer; z-index:1;
  }
  .clue{
    left:0; top:0; width:351px; height:174px;
    background:url(media/clue.svg) center/contain no-repeat; z-index:2;
    /*351 180*/
  }
  .clue1{
    left:0; top:0; width:81px; height:90px;
    margin-left:2%; margin-top:1%; background:url(media/clue1.svg) center/contain no-repeat;
    /*135 150*/
  }
  .clue2{
    left:0; top:0; width:81px; ; height:90px; margin-left:40%;
    margin-top:10%; background:url(media/clue2.svg) center/contain no-repeat;
  }
  .clue3{
    left:0; bottom:0; width:81px; height:90px; margin-left:30%;
    margin-bottom:10%; background:url(media/clue4.svg) center/contain no-repeat;
  }
  .clue4{
    left:0; bottom:0; width:81px; height:90px; margin-left:2%;
    margin-bottom:1%; background:url(media/clue5.svg) center/contain no-repeat;
  }
  .clue5{
    right:0; top:0; width:81px; height:90px; margin-right:30%;
    margin-top:1%; background:url(media/clue3.svg) center/contain no-repeat;
  }
  .clue6{
    right:0; bottom:0; width:81px; height:90px; 
    background:url(media/clue6.svg) center/contain no-repeat;
  }


    /* insight */
  .insight{
    width:100%; position:relative; overflow:hidden; padding-top: 40px 0px 20px 0px;
  }
  .underlay{
    width:103%; height:103%; margin-left:-10px; background-image:url(media2/apple3.jpg);
      background-size:cover; filter:blur(25px); 
  }  
  .author{
    width:306px; height:402px; position:absolute; left:0; bottom:0;
    z-index:2; margin-bottom:100px; 
    background:url(media/vu.svg) center/contain no-repeat;
  }
  .outro2{
    left:0; bottom:0; color:white; width:309px; height:201px;
    background:url(media/underoutro.svg) center/cover no-repeat; 
    z-index:2;  position:absolute;
    border-top-right-radius:20px; border-bottom-left-radius:20px; 
  }
  .outro2>div{
    height:100%; width:100%; background:rgba(0,0,0,0.45); border:1px solid rgba(0,0,0,0.45);
    border-top-right-radius:20px; border-bottom-left-radius:20px; padding:7%
  }
  .overlay2{
    position:relative; border-radius:10px; top:0; right:0;
    margin-right:1%; border:1px solid rgb(237,44,123); filter:blur(0.2px); 
    margin-top:40px;
    
    /*box-shadow:2px 2px 1px 0px rgb(225,115,0);
    box-shadow:0px -2px 1px 0px rgb(225,115,0);
    box-shadow:0px 2px 1px 0px rgb(225,115,0);
    box-shadow:2px 2px 1px 0px rgb(237,44,123);*/
  }
  .overlay{
    position:relative; border-radius:10px; top:0; right:0;
    margin-top:40px; margin-right:1%; opacity:0.95; z-index:1;
  }
  .overlay>div{
    position:relative; display:inline-flex; margin:40px 0px 0px 30px; 
    /*border:1px solid white;*/
  }
  .overlay>div:nth-of-type(1){
    width:350px; height:160px;
    background-size:cover;
  }
  .overlay>div:nth-of-type(2){
    width:185px; height:160px;
    background-size:cover; background-position:-60px -5px;
  }
  .overlay>div:nth-of-type(3){
    width:290px; height:160px;
    background-size:cover;
  }
  .overlay>div:nth-of-type(4){
    width:70px; height:160px;
    background-size:contain;
  }
  .overlay>div:nth-of-type(5){
    width:250px; height:160px;
    background-size:cover;
  }
  .overlay>div:nth-of-type(6){
    width:160px; height:160px; 
    background-position:-20px 0px; background-size:cover;
  }
  .overlay>div:nth-of-type(7){
    width:450px; height:200px; background-size:cover;
  }

  @keyframes switch{
          from{
      background-image:url(media2/apple3.jpg); filter:blur(25px)
    }to{
      background-image:url(media2/apple2.jpg); filter:blur(10px)
    }
      }

    /*footer section*/
  footer{
    width:100%; min-height:700px; position:relative; padding-top:30px; overflow:hidden;
  }
  .linkedin,.twitter,.discord,.facebook{
    position:absolute; right:0; bottom:0; z-index:1;
    width:100px; height:100px; background-size:contain; border-radius:50%;
  }
  .linkedin{
    background-image:url(media/linkedin.svg); margin-bottom:16%; margin-right:38%;
  }
  .twitter{
    background-image:url(media/twitter.svg); margin-bottom:1%; margin-right:35%;
  }
  .discord{
    background-image:url(media/discord.svg); margin-bottom:1%; margin-right:50%;
  }
  .facebook{
    background-image:url(media/facebook.svg); margin-bottom:6%; margin-right:21%;
  }
  .instagram{
    background-image:url(media/instagram.svg); 
  }
  .exit{
   position:relative; overflow:hidden; width:100%; margin-top:-10px;
  }
  .exit>div{
    position:absolute;
  }
  .exit1{
    top:0; right:0; border-radius:50%; background-color:#ffeb85ff; z-index:1
  }
  .exit2{
    left:0; bottom:0; border-radius:50%; background-color:#85ffbdff; z-index:1;
    /*
    padding:100px 10px 0px 90px;
    */
  }
  .mail{
    color:white; font-size:18px; position:absolute; left:0; top:0;
    min-width:50px; text-align:center; z-index:1;
  }
  .mail>span{
    border:1px solid; padding: 0px 3px
  }
  .separation{
    position:absolute; right:0; bottom:0; width:30%; height:30%; border-radius:50%;
    background:#375343ff; 
  }
  .separation>div{
    text-align:center; color:white; font-weight:bold; font-size:17px;
  }
  .separation2{
    position:absolute; left:0; top:0; width:50%; height:30%; border-radius:50px;
    background:#375343ff; transform:skewY(-30deg);
  }
  nav{
    width:95%; height:95%; color:white; padding-left:10px; position:absolute; left:0; top:0;
    margin:100px 0px 0px 80px; z-index:1; 
  }
  nav h6{
    font-size:16px; border-bottom:2px solid #375343ff; width:80px; margin-bottom:18px; 
    margin-top:35px; text-align:right;  transform:skewy(5deg);
  }
  .nav1,.nav2,.nav3{
      font-size:13px; font-weight:bold
  }
  nav>div>div{
    display:inline-flex; width:125px; margin-bottom:10px
  }

  .socialpage{
    position:absolute; z-index:3; left:0; margin-left:18%; bottom:0;
    margin-bottom:7%; display:none;
  }
  .socialpage>div{
    position:absolute; width:100%; height:100%;  background-color:white; border-radius:20px;
  }
  .socialpage>div:nth-of-type(1){
    z-index:1; margin-top:4%;
  }
  .socialpage>div>.header{          
    border-bottom:3px solid rgb(221,173,170); height:45px; width:99%; margin:auto; margin-bottom:20px;
    padding: 1% 0px 0px 4%;
  }
  .space{
    height:40%; width:95%; background-color: rgb(244,221,211); margin-left:2%; border-radius:10px; 
    margin-bottom:10px; padding:8px 5px 5px 10px;
  }
  .fill1{
    height:60%; width:95%; background-color:rgb(221,173,170); border-radius:20px; margin-bottom:3px
  }
  .fill2{
    height:20%; width:90%; background-color:rgb(221,173,170); border-radius:20px; margin-bottom:3px
  }
  .fill3{
   height:30px; width:30px; background-color:white; border-radius:50%;
  }
  .ring1{
     width:45px; height:30px; background-image:url(media/ring2.svg); background-size:contain;
  }
  .ring2{
    width:45px; height:30px; background-image:url(media/ring.svg); background-size:contain;
  }
  .dots{
    width:63px; position:absolute; right:0; margin-right:3%; height:21px; top:0; margin-top:4%;
    background-image:url(media/dots.svg); background-size:contain
  }

  .subscription{
    width:350px; height:90px; margin:auto;padding-top:10px; top:0; left:0;
    
  }
  .input{
    width:100%; height:35px; border-radius:20px; margin:auto;
    background-color:black; border:1px solid purple; padding:2px 2px 2px 12px;
    position:relative;
  }
  .input>div{
    position:absolute; right:0; width:39px; height:30px; top:0; margin-right:10px; 
    margin-top:1.5px; background-image:url(media/button.svg); background-size:contain;
    display:none; cursor:pointer;
  }
  .input>input{
    width:87%; height:100%; background-color:black; display:block; border:1px solid black; color:white;
    outline:0px;
  }
  .subscription>div{ 
    color:rgb(252,0,144); font-size:12px; text-align:center; margin-top:5px;
  }
  .subnote{
    box-shadow:0px 2px 3px 0px purple; width:50px; height:1px; margin:auto
  }
  
  .hindphone{
    width:100%; position:absolute; height:600px; margin-top:110px;
    left:0; top:0; 
  }
  .hindphone>div{
    position:absolute; left:0; top:0; width:300px; height:500px; border-radius:30px;
    padding:15px 0px 0px 15px;
  }
  .cambox{
    width:50%; height:30%; border-radius:inherit; padding:2px 2px 2px 2px;
  }
  .cambox>div{
    border-radius:inherit; width:100%; height:100%;
  }
  .hind1{
    border:2px solid #916e6eff; background:#ff6f51ff; 
  }
  .hind1>.cambox{
    background:#ff6f51ff; box-shadow:-0.1px -0.1px 6px 0px #dcb8dbff;
    /*dcb8dbff ff6748ff dcb8dbff*/
  }
  .hind1>.cambox>div{
    background:rgba(9,9,9,0.6) url(hc/hindcam1.svg) 0px 0px/100% 100% no-repeat; 
  }
  .hind1>.hindlogo{
    background:url(media/hindlogo1.svg) 0px 0px/100% 100% no-repeat;
  }

  .hind2{
    border:2px solid #625350ff; background:#7ffd87ff;
  }
  .hind2>.cambox{
    background:#7dff85ff; box-shadow:-0.1px -0.1px 6px 0px #dfbcfcff;
    /*dfbcfcff 7dff85ff dfbcfcff*/
  }
  .hind2>.cambox>div{
    background:rgba(9,9,9,0.6) url(hc/hindcam3.svg) 0px 0px/100% 100% no-repeat; 
  }
  .hind2>.hindlogo{
    background:url(media/hindlogo3.svg) 0px 0px/100% 100% no-repeat;
  }

  .hind3{
    border:2px solid #638365ff; background:#526653ff;
  }
  .hind3>.cambox{
    background:#526654ff; box-shadow:-0.1px -0.1px 6px 0px #ffffffff;
    /*ffffffff 526654ff ffffffff*/
  }
  .hind3>.cambox>div{
    background:rgba(9,9,9,0.6) url(hc/hindcam2.svg) 0px 0px/100% 100% no-repeat; 
  }
  .hind3>.hindlogo{
    background:url(media/hindlogo2.svg) 0px 0px/100% 100% no-repeat;
  }

  .hind4{
    border:2px solid #a8998aff; background:#ffc685ff;
  }
  .hind4>.cambox{
    background:#ffc685ff; box-shadow:-0.1px -0.1px 6px 0px #ffffffff;
    /*ffffffff ffc685ff 000000ff*/
  }
  .hind4>.cambox>div{
    background:rgba(9,9,9,0.6) url(hc/hindcam4.svg) 0px 0px/100% 100% no-repeat; 
  }
  .hind4>.hindlogo{
    background:url(media/hindlogo4.svg) 0px 0px/100% 100% no-repeat;
  }

  .hind5{
    border:2px solid #745d58ff; background:#625350ff;
  }  
  .hind5>.cambox{
    background:#625350ff; box-shadow:-0.1px -0.1px 6px 0px #5a4545ff;
    /*5a4545ff 625350ff 5a4545ff*/
  }
  .hind5>.cambox>div{
    background:rgba(9,9,9,0.6) url(hc/hindcam5.svg) 0px 0px/100% 100% no-repeat; 
  }      
  .hind5>.hindlogo{
    background:url(media/hindlogo5.svg) 0px 0px/100% 100% no-repeat;
  }

  .hind6{
    border:2px solid #745d58ff; background:#ffa79fff;
  }
  .hind6>.cambox{
    background:#ffa79fff; box-shadow:-0.1px -0.1px 6px 0px #4b475cff;
    /*4b475cff ffa79fff 4b475cff*/
  }
  .hind6>.cambox>div{
    background:rgba(9,9,9,0.6) url(hc/hindcam6.svg) 0px 0px/100% 100% no-repeat; 
  }  
  .hind6>.hindlogo{
    background:url(media/hindlogo6.svg) 0px 0px/100% 100% no-repeat;
  }
  /*
  .hind7{
    border:2px solid #745d58ff; background:#ffaf8bff; display:none;
  }*/
  .hind1{
    transform:rotate(-5deg); margin-top:-50px; margin-left:-20px;
   }
  .hind2{
    margin-left:17%; margin-top:0px; transform:rotate(-5deg)
   }
  .hind3{
    margin-left:34%
   }
  .hind4{
    margin-left:51%; transform:rotate(5deg); margin-top:10px;
   }
  .hind5{
    margin-left:68%; margin-top:-70px;
   }
  .hind6{
    margin-left:85%; transform:rotate(5deg); margin-top:-10px;
   }
  .hindlogo{
    width:48px; height:60px; margin:auto; 
    margin-top:20%
  }
  .outro{
    right:0; bottom:0; color:white; width:49%; height:200px; padding-top:2%;
    background:url(media/outro.svg) center/cover no-repeat;
  }
  .outro>div{
    color:white; border:1px solid purple; width:320px; height:170px;
    margin:auto; padding:10px; border-top-right-radius:20px; border-bottom-left-radius:20px;
    font-size:17px; display:none;
  }

  /* mobile footer*/
  .mobilefooter{
    background-color:#85ffbdff; width:100%; transform:skewY(-5deg);
    border-radius:50px; position:relative; min-height:1px; display:none; 
  }
  .mfnav{
    width:100%; padding:20px 0px 0px 30px; font-size:16px;
  }
  .mfnav>div{
    display:inline-block; width:49%;
  }
  .mfmail{
    width:100%; min-height:350px; position:relative;
  }
  .mfmail>div:nth-of-type(1){
    width:250px; height:180px; color:white; font-weight:bold; 
    font-size:17px; transform:skewY(0deg); position:absolute; right:0; top:0;
    margin-right:3%; background-color:#375343ff; border-bottom-left-radius:50%;
    border-top-left-radius:50%; padding:75px 0px 0px 10px;
  }
  .mfmail>div:nth-of-type(1)>div{
    display:inline-flex; color:white;  
  }
  .span{
    border:2px solid white; height:22px; padding:0px 2px 2px 2px
  }
  .mfsocials{
    height:100%; width:552px; background:url(media/mfsocials.svg) center/cover no-repeat;
    padding-top:4%; padding-bottom:10px;
  }
  .mfsocials>div:nth-of-type(1){
    margin:auto; width:162px; margin-bottom:10px; text-align:center;
    height:51px; color:pink; font-weight:bold; padding-top:13px; 
    background:url(media/socialtextunderlay.svg) center/contain no-repeat;
  }
  .mfsocials>div:nth-of-type(2){
    position:relative; height:222px; width:282px; margin:auto;
    background:url(media/socialback.svg) center/contain no-repeat; transform:skewY(5deg); 
     
  }
  .copyright{
    position:absolute; bottom:0; right:0; width:160px; margin-bottom:10px; margin-right:20%; height:102px;
    font-weight:bold; background:url(media/copyright.svg) 74px 0px/contain no-repeat;
    padding-top:40px; padding-left:-5px; color:#375343ff;
  }
  .copyright>div{
    display:inline; color:white
  }
  
  
  @media screen and (max-width:1300px){
    article{
      width:600px;
    }
    .phone{
      width:300px;
    }
  }
  @media screen and (max-width:1100px){
    .mobilefooter{
      display:block;
    }
    .exit{
      display:none;
    }
    nav{
      position:relative; margin:0px 0px 0px 0px;
    }
    .author{
        margin-bottom:200px;
    }
     .top1{
        font-size:70px;
    }
     .top2{
        font-size:70px; width:340px;
    }
     .top3{
        font-size:70px;
    }
  }
  @media screen and (max-width:1000px){
    .hindphone{
      margin-top:150px;
    }
  }
  @media screen and (max-width:900px){
    .copyright{
      position:relative; margin:auto;
    }
  }
  @media screen and (max-width:850px){
    .mfmail{
      padding-top:190px;
    }
    header{
      background:linear-gradient(90deg, #ffbf93ff 50%, #6f8587ff 50%);
    }
  }  
  @media screen and (max-width:800px){
    .ipad{
      transform:rotate(90deg)
    }
    .top2{
      z-index: 4;
    }
  }
  @media screen and (max-width:700px){
    .author{
      margin-bottom:0px;
    }
  }
  @media screen and (max-width:650px){
    .hindphone{
      margin-top:160px
    }
  }
  @media screen and (max-width:500px){
    .scroll{
      display:none;
    }
    header{
      background: black;
    }
    .ipad{
      z-index: 3;
    }
    .top3{
      z-index:5;
    }
    .part1,.part2{
      display:block;
    }
    .top2{
      height:200px;
    }
  }
  @media screen and (max-width:430px){
    .mfsocials>div:nth-of-type(2){
      margin-left:20%;
    }
  }
  @media screen and (max-width:400px){
    .subscription{
      width:270px;
    }
    .top1,.top2,.top3{
      font-size:60px; text-align: right;
    }
  }
  @media screen and (max-width:350px){
    .mfsocials{
      width:100%;
    }
    .author{
      width:300px;
    }
    .outro2{
      width:270px
    }
    .top2{
      font-size:50px;
      background:url(media/top2.svg) 50px 0%/100% 100% no-repeat;
    }
  }